---
title: Tiago Duarte - Front-end Developer
---

<section class="site-intro">
    <figure class="intro-avatar">
      <img src="img/picture.jpg">
    </figure>

    <h1 class="intro-text">Tiago is a front-end developer<br>building web applications.<br>Get in touch <a href="mailto:mail@tiagoduarte.com?subject=Hey Tiago!">here</a>.</h1>
</section>

<section class="list-section">
    <h2>Selected Works</h2>
    <ul>
        <li class="list-item">
            <a href="http://www.loadingdeck.com/" title="LoadingDeck">
              <span class="item-title">LoadingDeck</span>
              <span class="item-year">2013-2014</span>
            </a>
        </li>
        <li class="list-item">
            <a href="http://www.lifemirror.org/" title="LifeMirror">
              <span class="item-title">LifeMirror</span>
              <span class="item-year">2013</span>
            </a>
        </li>
        <li class="list-item">
            <a href="http://duri.me" title="Duri.me">
              <span class="item-title">Duri.me</span>
              <span class="item-year">2012</span>
            </a>
        </li>
    </ul>
</section>

<!-- <section class="list-section">
    <h2>Latest Writings</h2>
    <ul>
        <% blog.articles[0...5].each do |article| %>
          <li class="list-item">
            <a href="<%= article.url %>">
                <span class="item-title"><%= article.title %></span>
                <span class="item-year"><time><%= article.date.strftime('%b %e, %Y') %></time></span>
            </a>
          </li>
        <% end %>
    </ul>
</section> -->